[DEFAULT]
debug=True
verbose=False
log_file=/vagrant/log/qinling.log
logging_default_format_string=%(asctime)s.%(msecs)03d %(process)d %(levelname)s %(instance)s%(message)s (%(name)s) [-]
logging_context_format_string=%(asctime)s.%(msecs)03d %(process)d %(levelname)s %(instance)s%(message)s (%(name)s) [%(request_id)s %(user_identity)s]
logging_user_identity_format=%(user)s %(tenant)s

[api]
api_workers=1

[database]
connection=mysql://root:password@localhost:3306/qinling

[oslo_messaging_rabbit]
rabbit_password=password

[pecan]
auth_enable = false

[kubernetes]
kube_host = KUBERNETES_API_HOST:KUBERNETES_API_PORT
qinling_service_address = QINLING_API_ADDRESS