apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: {{ name }}
  labels:
  {% for key, value in labels.items() %}
    {{ key }}: {{ value }}
  {% endfor %}
spec:
  replicas: {{ replicas }}
  selector:
    matchLabels:
    {% for key, value in labels.items() %}
      {{ key }}: {{ value }}
    {% endfor %}
  template:
    metadata:
      labels:
      {% for key, value in labels.items() %}
        {{ key }}: {{ value }}
      {% endfor %}
    spec:
      terminationGracePeriodSeconds: 5
      automountServiceAccountToken: false
      volumes:
      - name: package-folder
        emptyDir: {}
      containers:
      - name: {{ container_name }}
        image: {{ image }}
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 9090
        volumeMounts:
          - name: package-folder
            mountPath: /var/qinling/packages
        resources:
          limits:
            cpu: "0.3"
            memory: 128Mi
          requests:
            cpu: "0.1"
            memory: 32Mi
      - name: sidecar
        image: openstackqinling/sidecar
        imagePullPolicy: IfNotPresent
        ports:
          - containerPort: 9091
        volumeMounts:
          - name: package-folder
            mountPath: /var/qinling/packages
