apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: {{ name }}
  labels:
  {% for key, value in labels.items() %}
    {{ key }}: {{ value }}
  {% endfor %}
spec:
  replicas: {{ replicas }}
  selector:
    matchLabels:
    {% for key, value in labels.items() %}
      {{ key }}: {{ value }}
    {% endfor %}
  template:
    metadata:
      labels:
      {% for key, value in labels.items() %}
        {{ key }}: {{ value }}
      {% endfor %}
    spec:
      containers:
      - name: {{ container_name }}
        image: {{ image }}
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 9090
        resources:
          limits:
            memory: 512Mi
          requests:
            memory: 128Mi
